{% extends "base.html" %}

{% block page_content %}

{% block above_latest_projects %}

{% include "./about.html" %}

{% endblock above_latest_projects %}

{% if latest_articles %}
    <ul>
        <div class="card-deck">
            {% for article in latest_articles %}
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }} </h5>
                        <p class="card-text">{{ article.body|slice:":40" }}... </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated {{ article.date|timesince }} ago</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </ul>
{% else %}
    <p>No articles are available.</p>
{% endif %}

{% endblock %}